################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/tarefa006/.vs/Tarefa006
/tarefa008/Endereco/.vs/Endereco/DesignTimeBuild/.dtbcache.v2
/tarefa008/Endereco/.vs/Endereco/v17
/tarefa008/Endereco/obj
/tarefa009/Tarefa009/.vs/Exercicio01
/tarefa009/Tarefa009/obj
/tarefa009/Exercicio01/.vs/Exercicio01/v17
/tarefa009/Exercicio01/.vs/Exercicio01/DesignTimeBuild
/tarefa009/Exercicio01/obj
/tarefa009/Exercicio02/.vs/Exercicio02
/tarefa009/Exercicio02/bin/Debug/net5.0
/tarefa009/Exercicio02/obj
/tarefa010/Tarefa10/.vs/Tarefa10/DesignTimeBuild
/tarefa010/Tarefa10/.vs/Tarefa10/v17
/tarefa010/Tarefa10/Exercicio002/obj
/tarefa010/Tarefa10/Exercicio002/bin/Debug/net5.0
/tarefa010/Tarefa10/Exercicio001/bin/Debug/net5.0
/tarefa010/Tarefa10/Exercicio001/obj
/tarefa012/Tarefa12/.vs/Tarefa12/v17
/tarefa012/Tarefa12/bin/Debug/net5.0
/tarefa012/Tarefa12/obj
/tarefa012/Exercicio002/bin/Debug/net5.0
/tarefa012/Exercicio002/obj
/tarefa012/Tarefa12/.vs/Tarefa12/DesignTimeBuild
/tarefa012/Exercicio003/bin/Debug/net5.0
/tarefa012/Exercicio003/obj
/tarefa012/Exercicio004/bin/Debug/net5.0
/tarefa012/Exercicio004/obj
/tarefa008/Endereco/bin/Debug/net5.0
/tarefa015/Tarefa015/.vs/Tarefa015/v17
/tarefa015/Tarefa015/bin/Debug/net5.0
/tarefa015/Tarefa015/obj
/tarefa015/Tarefa015/.vs/Tarefa015/DesignTimeBuild/.dtbcache.v2
/tarefa016/Tarefa016/.vs/Tarefa016/v17
/tarefa016/Tarefa016/obj
/tarefa016/Tarefa016/bin/Debug/net6.0
