################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/tarefa006/.vs/Tarefa006
/tarefa008/Endereco/.vs/Endereco/DesignTimeBuild/.dtbcache.v2
/tarefa008/Endereco/.vs/Endereco/v17
/tarefa008/Endereco/obj
/tarefa009/Tarefa009/.vs/Exercicio01
/tarefa009/Tarefa009/obj
